@import "tailwindcss";

@theme {
  --color-deep-50: #eff6ff;
  --color-deep-100: #dbeafe;
  --color-deep-200: #bfdbfe;
  --color-deep-300: #93c5fd;
  --color-deep-400: #60a5fa;
  --color-deep-500: #3b82f6;
  --color-deep-600: #2563eb;
  --color-deep-700: #1d4ed8;
  --color-deep-800: #1e40af;
  --color-deep-900: #0b1a3a;
}

@layer base {

  button,
  select,
  a,
  [role="button"] {
    cursor: pointer;
  }

  button:disabled,
  select:disabled,
  [disabled] {
    cursor: not-allowed;
  }
}